<p *ngFor="let name of Beatles">{{name}}</p>

<p *ngFor="let name of Beatles; let i=index">{{i+1}} - {{name}}</p>

<section>
    <mat-card>
        <mat-card-content>
            <mat-selection-list #names>
                <mat-list-option *ngFor="let name of Beatles">{{name}}</mat-list-option>
            </mat-selection-list>
        </mat-card-content>
        <mat-card-footer>
            Options Selected {{names.selectedOptions.selected.length}}
        </mat-card-footer>
    </mat-card>
</section>

<section>
    <mat-card>
        <mat-card-content>
            <mat-list>
                <h3 matSubHeader>Beatles</h3>
                <mat-list-item *ngFor="let name of Beatles">
                    <mat-icon matListIcon>person</mat-icon>
                    <h4 matLine>{{name}}</h4>
                </mat-list-item>

                <mat-divider></mat-divider>

                <h3 matSubHeader>Cities</h3>
                <mat-list-item *ngFor="let city of cities">
                    <mat-icon matListIcon>location_city</mat-icon>
                    <h4 matLine>{{city.name}}</h4>
                    <h4 matLine>{{city.state}}</h4>
                </mat-list-item>

            </mat-list>
        </mat-card-content>
    </mat-card>
</section>